body {
    background-color: #222;
    color: rgb(206, 202, 195);
}

.flex-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

.row {
    width: 100%;
    display: flex;
}

.cell {
    flex: 1;
    background-color: #ddd;
}

.bordered {
    border: 1px solid black;
}