.flex-container {
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
    width: 350px;
    height: 350px
}

.row {
    width: 100%;
    display: flex;
}

.cell {
    flex: 1;
    border: 1px solid black;
}